<ion-header>
  <ion-toolbar>
    <ion-title>liste-demandes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let client of clients">
    <ion-grid>
      <ion-row>
        <ion-col size="3">
          <ion-img src="/assets/user.png"></ion-img>
        </ion-col>
        <ion-col size="5">
          <ion-row>{{client.nom}}</ion-row>
          <ion-row>Tél: {{client.tel}}</ion-row>
          <ion-row>{{client.email}}</ion-row>
          <ion-row>Type: {{client.typedecompte}}</ion-row>
          <ion-row style="color: brown;"><b>{{client.status}}</b></ion-row>
        </ion-col>
        <ion-col size="3"><ion-button >Valider</ion-button></ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>

