<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title align="center">Convertisseur de devises</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card align="center">
    <ion-card-header>
      <ion-row>
      <img class="image-logo" src="assets/logo.png"/>
    </ion-row>
      <ion-card-title style="margin-top: 7%" style="margin-bottom: 7%">Convertir des devises</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      
        <ion-item>
          <ion-label>
            <ion-icon name="logo-usd"></ion-icon> Devise
          </ion-label>
          <ion-select [(ngModel)]="devise" (ionChange)="codeSelected()" placeholder="Sélectionner">
            <ion-select-option value="EUR">EUR</ion-select-option>
            <ion-select-option value="CHF">CHF</ion-select-option>
            <ion-select-option value="TND">TND</ion-select-option>
            <ion-select-option value="GBP">GBP</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label style="margin-top: 10%">
            <ion-icon name="cash-outline"></ion-icon> Montant
          </ion-label>
          <ion-input placeholder="" [(ngModel)]="montant" name="montant"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label style="margin-top: 10%">
            <ion-icon name="cash-outline"></ion-icon> Résultat
          </ion-label>
          <ion-input [(ngModel)]="resultat"></ion-input>
        </ion-item>

 

        <ion-button class="mbtn"  (click)="convert()" type="submit" style="margin-top: 25%">Convertir</ion-button>
     
    </ion-card-content>
  </ion-card>
</ion-content>
